.home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cardBox {
  width: 92vw;
  min-height: 86vh;
  margin: 4vh auto;
  display: flex;
  flex-flow: wrap;
  gap: 70px 40px;
}

.chartPopups {
  width: 92vw;
  min-height: 86vh;
  position: fixed;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: rgb(33, 33, 33);
}

.cloture {
  width: 4vh;
  height: 4vh;
  position: absolute;
  right: 1vh;
  z-index: 1;
}

.titleBar {
  display: flex;
  margin: 4vh 7vh 0vh 7vh;
  justify-content: space-between;
  align-items: center;
}

.homeTitle {
  font-size: x-large;
  font-weight: bold;
}

.themeSwitch {
  display: flex;
}

.themeSwitch>span {
  margin-right: 10px
}

.processorCores {
  display: flex;
  justify-content: center;
  align-items: center;
}

.processorCores>p {
  padding-right: 10px;
}

.settingIcon {
  margin-right: 10px;
  cursor: pointer;
}

.settingBox {
  background-color: rgb(63 61 61 / 50%);
  width: 100%;
  height: 100%;
  position: fixed;
}