
.slider {
  width: 180px;
  height: 14px;
}

.slider-slider {
  height: 14px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-handle {
  width: 14px;
  height: 14px;
  background-color: #f00;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  cursor: pointer;
  transition: left 0.2s ease;
  z-index: 1;
}

.slider-slot {
  display: flex;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  justify-content: space-between;
}

.slider-marker {
  width: 6px;
  height: 6px;
  background-color: #a1a9a1;
  border-radius: 50%;
  /* cursor: pointer; */
}

.slider-lable {
  position: absolute;
  top: -31px;
}